<h3>{{currentTurn}}</h3>
<div style="border: 4px solid black; width:480px">
  {{#each model.tiles as |tileRow|}}
    <div style="height: 60px">
      {{#each tileRow as |tileCol|}}
        {{tile-block tileObj=tileCol}}
      {{/each}}
    </div>
  {{/each}}
</div>

<h3>White Took:</h3>
{{#each whiteKills as |piece|}}
  <span class="piece">{{piece}}</span>
{{/each}}

<h3>Black Took:</h3>
{{#each blackKills as |piece|}}
  <span class="piece">{{piece}}</span>
{{/each}}
